# Python
__pycache__/
.venv/
venv/

.direnv/
.ipynb_checkpoints/
*.vo
.lia.cache
.nia.cache
.env
*.ipynb
.ruff_cache/
.ssh/
.pytest_cache/

_temp.v

.bash_history
.elan/
.profile
.config/
.local/
.zshrc
/**/.lake/
.cursorrules
