# Python
__pycache__/
.venv/
venv/

.vscode/
.direnv/
.ipynb_checkpoints/
*.vo
*.vos
*.vok
*.glob
logs/
.lia.cache
.nia.cache
.env
*.ipynb
.ruff_cache/
.ssh/
.pytest_cache/

_temp.v

.bash_history
.elan/
.profile
.config/
.local/
.zshrc
/**/.lake/
.cursorrules
